* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: #eeeeec;
}
header {
  width: 100%;
  overflow: hidden;
}
.topnav {
  width: 70%;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(252, 173, 4);
}
.topnav a {
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #fff;
  color: black;
}
.contents {
  width: 70%;
  margin: auto;
}
@media (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-areas:
      "image image profile profile profile profile"
      "description description description description description description"
      "footer footer footer footer footer footer ";
  }
}
.image-container,
.profile-container,
.description {
  padding: 10px;
  background: #fff;
}
.image-container {
  grid-area: image;
}
.profile-container {
  grid-area: profile;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  line-height: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.description {
  grid-area: description;
}
.footer {
  grid-area: footer;
  height: 50px;
}

/* PROFILE */
.thumbnail {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto;
  border-radius: 100%;
  -webkit-box-shadow: 0 13px 26px rgba(#000, 0.2), 0 3px 6px rgba(#000, 0.2);
  box-shadow: 0 13px 26px rgba(#000, 0.2), 0 3px 6px rgba(#000, 0.2);
}
.title {
  color: grey;
  font-size: 18px;
}
.btn-email {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100px;
  font-size: 18px;
  border-radius: 15px 50px;
}
.btn-email:hover,
.social-icons:hover {
  opacity: 0.7;
}
.profile-container .social-icons {
  text-decoration: none;
  font-size: 22px;
  color: #000;
}
.social-icons {
  margin-right: 10px;
}
